body{
    width: 70%;
    margin: auto;
}
h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:  1.5em;
}
h1{
    font-size: 32px;
}
figcaption{
    font-style: italic;
}
figure{
    float: right;
}
table {    
    border: 1px solid black;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
 }
 th, td {
    border: 1px solid black;
 }